*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app
{
  background-color: rgb(201, 201, 201);
  height: 100vh;
}

.app__header
{
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid black;
}

.app__headerImage
{
  width: 100px;
}