*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app
{
  background-color: grey;
}

.app__header
{
  object-fit: contain;
  background-color: white;
}

.app__headerImage
{
  width: 100px;
}